html {
    height: 100%;
    body {
        background-image: radial-gradient(circle farthest-corner at center, rgb(183, 123, 235) 0%, rgb(228, 56, 237) 100%);
        h1 {
            font-size: 2.5rem;
            color: #fff;
            font-family: 'Oswald', sans-serif;
            margin: 0 !important;
            padding: 0 !important;
        }
        h2, h3, h4, h5, h6 {
            color: #fff;
            font-family: 'Oswald', sans-serif;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}