.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hands {
    display: flex;
    align-items: center;
    justify-content: center;
    .hand {
        animation: rotation 2s infinite linear;
    }
}
.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
    font-size: 1.05rem;
    .instructions-list {
        padding-inline-start: 1rem !important;
        max-width: 28rem;
        background: rgba(0, 0, 0, 0.2);
        padding: 1rem;
        .instructions-step {
            list-style-type: none;
            display: flex;
            margin-bottom: 0.25rem;
            .hand-pointer {
                margin-right: 0.5rem;
            }
        }
    }
}
@keyframes rotation {
    0% {
        transform: rotate(-5deg)
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}