.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hands {
    display: flex;
    align-items: center;
    justify-content: center;
    .hand {
        animation: rotation 2s infinite linear;
    }
}
.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
    .instructions-list {
        .instructions-step {
            list-style-type: none;
            color: #fff;
            font-family: 'Oswald', sans-serif;
        }
    }
}
@keyframes rotation {
    0% {
        transform: rotate(-5deg)
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}