.margin-right {
    margin-right: 1rem;
}
.margin-left {
    margin-left: 1rem;
}

.training-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    max-width: 30rem;
    .input-group {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .input-container {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            margin-bottom: 0.5rem;
            .label {
                font-size: 1.25rem;
            }
            .input {
                border: 2px solid black;
                font-size: 1.25rem;
                padding-left: 3px;
                max-width: 11.5rem;
            }
        }
    }
}

.training-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
    margin: 2rem auto;
    .button {
        width: 10rem;
        height: 3rem;
        color: #fff;
        background-color: #000;
        font-family: 'Oswald', sans-serif;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &.disabled {
            background-color: #888;
        }
        &.disabled:hover {
            text-decoration: none;
            cursor: not-allowed;
        }
    }
    .loader {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        perspective: 800px;
        .inner {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 50%;  
        }
        .inner.one {
            left: 0%;
            top: 0%;
            animation: rotate-one 1s linear infinite;
            border-bottom: 3px solid #EFEFFA;
        }
        .inner.two {
            right: 0%;
            top: 0%;
            animation: rotate-two 1s linear infinite;
            border-right: 3px solid #EFEFFA;
        }
        .inner.three {
            right: 0%;
            bottom: 0%;
            animation: rotate-three 1s linear infinite;
            border-top: 3px solid #EFEFFA;
        }
    }
}
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 28rem;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    .results {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
    }
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}