.train-results,
.predict-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    max-width: 28rem;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    .train-result,
    .predict-result {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
    }
}

.train-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 30rem;
    .input-group {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .input-container {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            margin-bottom: 0.5rem;
            .label {
                font-size: 1.25rem;
            }
            .input {
                border: 2px solid black;
                font-size: 1.25rem;
                padding-left: 3px;
                max-width: 11.5rem;
            }
        }
    }
}

.train-model {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
    margin: 2rem auto 3rem auto;
    .train-model-button {
        width: 10rem;
        height: 3rem;
        color: #fff;
        background-color: #000;
        font-family: 'Oswald', sans-serif;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &.disabled {
            pointer-events: none;
        }
    }
}

.predict-model {
    margin-top: 3rem;
    .predict-model-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        background-color: #000;
        padding: 1rem;
        text-decoration: none;
        height: 3rem;
        max-width: 28rem;
        cursor: pointer;
        font-size: 1.25rem;
        &:hover {
            text-decoration: underline;
        }
        &.disabled {
            pointer-events: none;
        }
    }
}

@media screen and (max-width: 450px) {
    .train-inputs,
    .train-model {
        flex-flow: column;
    }
    .train-model-button {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 1rem auto !important;
        background-color: #000 !important;
        padding: 1rem 0 !important;
        text-decoration: none !important;
        height: 3rem !important;
        max-width: 28rem !important;
        cursor: pointer !important;
        width: 100% !important;
        font-size: 1.25rem !important;
    }
    .input-group,
    .input-container {
        width: 100%;
    }
        .input {
            max-width: 100% !important;
        }
}