.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 1rem;
    .canvas {
        margin: 3px solid #000;
    }
    .upload-button {
        color: #fff;
        background-color: #000;
        font-family: 'Oswald', sans-serif;
        padding: 1rem;
        text-decoration: none;
        margin: 1rem;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &.disabled {
            background-color: #888;
        }
        &.disabled:hover {
            text-decoration: none;
            cursor: not-allowed;
        }
    }
    input[type="file"] {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
}