.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 1rem;
    .canvas {
        margin: 3px solid #000;
    }
    .upload-button-container {
        display: flex;
        align-items: center;
        margin: 1rem;
        background-color: #000;
        padding: 1rem;
        text-decoration: none;
        width: calc(500px - 2rem);
        height: 3rem;
        cursor: pointer;
        .upload-button {
            font-size: 1rem !important;
            font-family: "Oswald", sans-serif;
            color: #fff;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: calc((500px - 2rem)/4 + 2rem);
            padding-right: calc((500px - 2rem)/4);
            text-align: center;
            cursor: pointer;
        }
    }
}