.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
    //max-width: 30rem;
    .measure {
        position: absolute;
        left: -10000px;
        top: -10000px;
    }
    .canvas-container {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        max-width: 30rem;
        margin-top: 1rem;
        .canvas {
            width: 100%;
            height: 100%;
            //min-width: 250px;
            //min-height: 250px;
            &:hover {
                cursor: crosshair;
            }
        }
        .color-picker {
            z-index: 10;
            position: absolute;
            width: 50px;
            height: 50px;
            border: 3px solid #000;
            background-color: #fff;
        }
    }
    .upload-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        background-color: #000;
        padding: 1rem 0;
        text-decoration: none;
        height: 3rem;
        max-width: 30rem;
        cursor: pointer;
        width: 100%;
        text-align: center;
        &:hover {
            text-decoration: underline;
        }
        &.disabled {
            pointer-events: none;
        }
        .upload-label {
            cursor: pointer;
            font-size: 1.25rem;
            &.disabled {
                pointer-events: none;
            }
        }
        .upload-button {
            display: none;
        }
    }
}